@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Roboto:wght@500;900&display=swap');
html, body {
  height: 100%;
  width: 100%;
}

:root {
  --main-color: #0839B9;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
}

* {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
  list-style-type: none;
  text-decoration: none;

}

.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--main-color);
  z-index: 100;
  transition: width 300ms;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar-brand .logo {
  display: inline-block;
  padding-right: 1rem;
  width: 242px;
  height: 100px;
  opacity: 70%;
}

.sidebar-menu {
  padding-top: 2rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  margin-left: 1rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

.sidebar-menu a.active {
  background: #3665DE;
  padding-top: 1rem;
  padding-bottom: 1rem; 
  width: 90.5%;
  color: #fff;
  border-radius: 30px 0px 0px 30px;
  transition: width 100ms;
}

.sidebar-menu .order:hover {
  width: 90.5%;
  color: #fff;
  transition: width 100ms;
  opacity: 100%;
}

.sidebar-menu .order {
  opacity: 40%;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
  width: 70px;  
}

#nav-toggle:checked + .sidebar .sidebar-menu a.active{
  width: 38px;  
  transition: width 410ms;
}

#nav-toggle:checked + .sidebar .sidebar-brand .logo,
#nav-toggle:checked + .sidebar li a{
  padding-left: 1rem; 
}

#nav-toggle:checked + .sidebar .sidebar-brand .logo,
#nav-toggle:checked + .sidebar li a span:last-child{
  display: none; 
}

#nav-toggle:checked ~ .main-content {
margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
width: calc(100% - 70px);
left: 70px;
}


#nav-toggle:checked ~ .main-content .options {
margin-right: 7.5rem;
}

.main-content {
  transition: margin-left 300ms;
  margin-left: 345px;
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  margin-right: 4rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
  transition: left 300ms;
}

#nav-toggle {
  display: none;
}

header h2 {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5em;
  
}

.search-wrapper input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
   
}

.user-wrapper {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-family: sans-serif;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}


.user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
}

main {
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f1f1f1;
  min-height: calc(100vh - 90px);
}

.card-unloggedin {
  width: 30%;
  background: white;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 10rem;
  margin-left: 20rem;
  font-family: sans-serif;
}

.card-unloggedin img {
    width: 70px;
    height: 80px;
}

.button-login {
    background: rgb(107, 142, 249);
    color: white;
    font-size: 18px;
    padding: .4rem;
    border-radius: 5px;
    border: none;
    margin-top: .8rem;
}

.button-login:hover {
    background: var(--main-color);
}

.title-page {
    font-family: sans-serif;
    font-size: 25px;
}

.title-page p {
    color: grey;
}

.cards-treinos, .cards-avisos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-y: auto;
  height: 150px;
}

.cards-treinos::-webkit-scrollbar {
  width: 0;
}

.header-treino {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
  font-size: 25px;
  font-family: sans-serif;
  margin-top: 3rem;
}

.card-treino-completo, .card-treino-incompleto {
  min-width: 220px;
  height: 120px;
  border-radius: 10px;
  border: none;
  font-family: sans-serif;
  
}

.card-treino-completo , .card-treino-incompleto{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background: #e2e3e5;
}


.card-conteudo {
  padding: .5rem;
}

.incompleto {
  background: rgb(243, 96, 96);
  padding: .2rem;
  margin-top: 2.65rem;
  margin-left: 8.1rem;
  width: 85px;
  text-align: center;
  border-radius: 5px 0px 5px 5px;
}

.completo {
  background: rgb(108, 246, 186);
  padding: .2rem;
  margin-top: 2.65rem;
  margin-left: 8.70rem;
  margin-right: 0;
  width: 75px;
  text-align: center;
  border-radius: 5px 0px 5px 5px;
}

.post {
  min-width: 500px;
}
.cards-avisos::-webkit-scrollbar {
  width: 0;
}

.header-aviso {
  display: flex;
  flex-direction: row;
  color: grey;
  font-size: 25px;
  font-family: sans-serif;
  min-width: 2rem;
  justify-content: space-between;
}

.button-avisos {
  font-size: 15px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  gap: .3rem;
}

.card-aviso {
  min-width: 205px;
  height: 100px;
  padding: .5rem;
  border-radius: 10px;
  border: none;
  font-family: sans-serif;
  box-shadow: 2px 2px 2px grey;
  background: #e2e3e5;
}

.data {
  padding: .2rem;
  margin-top: 2.65rem;
  margin-left: 7.5rem;
  color: grey;
}

.anamnese {
  border-radius: 10px;
  width: 250px;
  height: 230px;
  background: #fff;
  font-family: sans-serif;
  text-align: center;
  border: 2px solid var(--main-color);
 }

 .header-anamnese {
  background: var(--main-color);
  height: 50px;
  padding-top: 1rem;
  margin-top: .8rem;
  color:#fff;
  border-radius: 0px 0px 10px 10px;
 }

 .body-anamnese {
  margin-top: 20px;
  margin-left: 1rem;
  margin-right: 1rem;

 }

 .body-anamnese img {
  margin-top: 20px;
  width: 70px;
  height: 70px;
 }


 .anamnese-colunas {
  display: flex;
  flex-direction: arrow;
  width: 600px;
  background: rgba(249, 249, 249, 0.999);
  border-radius: 10px;
  border: 2px solid var(--main-color);
  padding: 2rem;
  padding-left: .2rem;
  margin-top: 2rem;
 }

 .anamnese-col-1 img {
  width: 350px;
  height: 250px;
 }

 .anamnese-col-2 {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 20px;
  gap: 30px;
  color: rgb(93, 92, 92);
 }

 .anamnese-col-2 .anamnese-button{
  background: var(--main-color);
  color: #fff;
  border: none;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px grey;
 }
 
 .anamnese-col-2 .anamnese-button:hover {
  background: #3665DE;
 }

@media only screen and (max-width: 1200px) {

 .sidebar {
  width: 70px;  
 }

 .sidebar .sidebar-menu a.active{
  width: 38px;  
  transition: width 410ms;
 }

 .sidebar-brand .logo,
 .sidebar li a{
  padding-left: 1rem; 
 }
  
 .sidebar .sidebar-brand .logo,
 .sidebar li a span:last-child{
  display: none; 
 }

 .main-content {
 margin-left: 70px;
 }

 .main-content header {
 width: calc(100% - 70px);
 left: 70px;
 }

 .main-content {
 margin-left: 70px;
 transition: left 410ms;
 }

 .main-content header {
 width: calc(100% - 70px);
 left: 70px;
transition: left 410ms;
 }
}



@media only screen and (max-width: 768px) {

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .recent-grid {
    grid-template-columns: 100%;
  }

  .search-wrapper {
    display: none;
  }

  .sidebar {
    left: -100% !important
  }

  header h2 {
    display: flex;
    align-items: center;
  }
  
  header h2 label {
    display: inline-block;
    padding-right: 0rem;
    margin-right: 1rem;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: var(--main-color);
    
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  header h2 span {
    text-align: center;
    padding-right: 0rem;
  }

  header h2 {
    font-size: 1.1rem;
  }
  .main-content {
    width: 100%;
    margin-left: 0rem;
    transition: margin-left 300ms;
  }

  header {
    width: 100% !important;
    left: 0 !important;
  }

  #nav-toggle:checked + .sidebar {
    left: 0 !important;
    z-index:100;
    width: 345px;
  }

  
 
  #nav-toggle:checked +.sidebar .sidebar-menu a.active{
  width: 297px;  
  transition: width 410ms;
 }

  #nav-toggle:checked +.sidebar .logo,
  #nav-toggle:checked + .sidebar li a{
  padding-left: 2rem; 
  text-align: left;
 }

 #nav-toggle:checked +.sidebar:hover hover li a {
  padding-left: 1rem;
}
  
  #nav-toggle:checked + .sidebar .sidebar-brand .logo,
  #nav-toggle:checked +.sidebar li a span:last-child{
  display: inline; 
 }

  #nav-toggle:checked + .sidebar .sidebar-brand .logo {
    display:none;
  }

  #nav-toggle:checked ~ .main-content {
    margin-left: 0rem;
    transition: margin-left 300ms;
  }

  .sidebar-menu .order:hover {
  width: 86%;
  
}

.card-unloggedin {
  background: white;
  text-align: center;
  width:80%;
  border-radius: 10px;
  padding: 2rem;
  margin-left: 0;
}



}
