@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Roboto:wght@500;900&display=swap');
html, body {
  height: 100%;
  width: 100%;
}

:root {
  --main-color: #0839B9;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
}

* {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
  list-style-type: none;
  text-decoration: none;

}

.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--main-color);
  z-index: 100;
  transition: width 300ms;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar-brand .logo {
  display: inline-block;
  padding-right: 1rem;
  width: 242px;
  height: 100px;
  opacity: 70%;
}

.sidebar-menu {
  padding-top: 2rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  margin-left: 1rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

.sidebar-menu a.active {
  background: #3665DE;
  padding-top: 1rem;
  padding-bottom: 1rem; 
  width: 90.5%;
  color: #fff;
  border-radius: 30px 0px 0px 30px;
  transition: width 100ms;
}

.sidebar-menu .order:hover {
  width: 90.5%;
  color: #fff;
  transition: width 100ms;
  opacity: 100%;
}

.sidebar-menu .order {
  opacity: 40%;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
  width: 70px;  
}

#nav-toggle:checked + .sidebar .sidebar-menu a.active{
  width: 38px;  
  transition: width 410ms;
}

#nav-toggle:checked + .sidebar .sidebar-brand .logo,
#nav-toggle:checked + .sidebar li a{
  padding-left: 1rem; 
}

#nav-toggle:checked + .sidebar .sidebar-brand .logo,
#nav-toggle:checked + .sidebar li a span:last-child{
  display: none; 
}

#nav-toggle:checked ~ .main-content {
margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
width: calc(100% - 70px);
left: 70px;
}


#nav-toggle:checked ~ .main-content .options {
margin-right: 7.5rem;
}

.main-content {
  transition: margin-left 300ms;
  margin-left: 345px;
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  margin-right: 4rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
  transition: left 300ms;
}

#nav-toggle {
  display: none;
}

header h2 {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5em;
  
}

.search-wrapper input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
   
}

.user-wrapper {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-family: sans-serif;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}


.user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
}

main {
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f1f1f1;
  min-height: calc(100vh - 90px);
}

.options {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  justify-content: space-between;
  gap: 345px;
  max-width: 85%;
  padding-left: 5rem;
}

.cancelar {
  height: 25px;
  width: 65px;
  background: transparent;
  border: red 2px solid;
  color: red;
  border-radius: 5px;
}

.cancelar:hover {
  background: red;
  color: white;
}

.principal-aluno {
  display: flex;
  flex-direction: arrow;
  margin-top: 2em;
  font-family: sans-serif;
  margin-left: 5rem;
  gap: 2rem;
}

.card-principal {
  width: 85%;
  background: white;
  justify-items: center;
  padding: 2rem;
  border-radius: 10px;
}

.group_1 {
  gap: 1rem;
}
.titulo-dados {
  padding-bottom: 1rem;
  text-align: left;
}

.col-1 {
  width: 25%;
}

.col-2 {
  display: flex;
  flex-direction: column;
}

.tabela-exercicio {
  display: flex;
  flex-direction: row;
}
.col-2 .form-item {
  width: 30%;
  margin-right: .2rem;
  margin-left: .8rem;
}
.form-item {
  padding-bottom: .8rem;
  text-align: left;
}
.form-item select{
  height: 2rem;
}

.form-item input{
  margin-top: 0.5rem;
  height: 2rem;
}

.colunas-treino {
  display: flex;
  flex-direction: row;
}
input, textarea,
 select {
  border-radius: 5px;
  border: #c0bfbf 1px solid;
  padding-left: .5rem;
}

input {
  height: 23px;
  width: 95%;
}

textarea {
  padding-top: .5rem;
  width: 95%;
}

select {
  margin-top: .5rem;
  width: 98%;
  height: 23px;
  background: white;
}

.enviar {
  background: var(--main-color);
  width: 50%;
  height: 30px;
  align-items: center;
  align-content: center;
  border: none;
  border-radius: 5px;
  justify-content: center;
  margin-left: 15rem;
  color: white;
}

.enviar:hover {
  background: #58a0fd;
}

.mais_exercicio {
  background: rgb(210, 209, 209);
  color: black;
  border-radius: 5px;
  width: 260px;
  height: 35px;
  border: none;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.titulo-anamnsese {
  padding-bottom: 1rem;
}

.dados-gerais-anamnese {
  padding-bottom: .5rem;
  padding-top: .5rem;
  border-bottom: #b5b5b5 1px solid
}

.anamnese {
  width: 30%;
  background: white;
  padding: 2rem;
  font-family: sans-serif;
  border-radius: 10px;
}

.colunas-anamnese {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


.mensagem-erro {
  width: 90%;
  height: 70%;
  padding: 1rem;
  margin-bottom: .5rem;
  border-radius: 5px;
  text-align: center;
  color: #000;
  font-size: 15px;
  border-left: rgb(245, 91, 8) 4px solid;
  font-family: 'Roboto', sans-serif;
  background: rgba(255, 118, 80, 0.238);
}

.mensagem-sucesso {
  width: 90%;
  height: 70%;
  padding: 1rem;
  margin-bottom: .5rem;
  border-radius: 5px;
  text-align: center;
  color: #000;
  font-size: 15px;
  border-left: green 4px solid;
  font-family: 'Roboto', sans-serif;
  background:rgba(1, 249, 108, 0.26);
}

.group_item {
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 5px;
}

@media only screen and (max-width: 1200px) {

 .sidebar {
  width: 70px;  
 }

 .sidebar .sidebar-menu a.active{
  width: 38px;  
  transition: width 410ms;
 }

 .sidebar-brand .logo,
 .sidebar li a{
  padding-left: 1rem; 
 }
  
 .sidebar .sidebar-brand .logo,
 .sidebar li a span:last-child{
  display: none; 
 }

 .main-content {
 margin-left: 70px;
 }

 .main-content header {
 width: calc(100% - 70px);
 left: 70px;
 }

 .main-content {
 margin-left: 70px;
 transition: left 410ms;
 }

 .main-content header {
 width: calc(100% - 70px);
 left: 70px;
transition: left 410ms;
 }
}



@media only screen and (max-width: 768px) {

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .recent-grid {
    grid-template-columns: 100%;
  }

  .search-wrapper {
    display: none;
  }

  .sidebar {
    left: -100% !important
  }

  header h2 {
    display: flex;
    align-items: center;
  }
  
  header h2 label {
    display: inline-block;
    padding-right: 0rem;
    margin-right: 1rem;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: var(--main-color);
    
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  header h2 span {
    text-align: center;
    padding-right: 0rem;
  }

  header h2 {
    font-size: 1.1rem;
  }
  .main-content {
    width: 100%;
    margin-left: 0rem;
    transition: margin-left 300ms;
  }

  header {
    width: 100% !important;
    left: 0 !important;
  }

  #nav-toggle:checked + .sidebar {
    left: 0 !important;
    z-index:100;
    width: 345px;
  }

  
 
  #nav-toggle:checked +.sidebar .sidebar-menu a.active{
  width: 297px;  
  transition: width 410ms;
 }

  #nav-toggle:checked +.sidebar .logo,
  #nav-toggle:checked + .sidebar li a{
  padding-left: 2rem; 
  text-align: left;
 }

 #nav-toggle:checked +.sidebar:hover hover li a {
  padding-left: 1rem;
}
  
  #nav-toggle:checked + .sidebar .sidebar-brand .logo,
  #nav-toggle:checked +.sidebar li a span:last-child{
  display: inline; 
 }

  #nav-toggle:checked + .sidebar .sidebar-brand .logo {
    display:none;
  }

  #nav-toggle:checked ~ .main-content {
    margin-left: 0rem;
    transition: margin-left 300ms;
  }

  .sidebar-menu .order:hover {
  width: 86%;
  
}

  
.options {
  display: flex;
  flex-direction: arrow;
  font-family: sans-serif;
  justify-content: space-around;
  gap: 100px;
  margin-right: 0;
}

.principal-aluno {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 2rem;
  font-family: sans-serif;
  margin-left: 0rem;
}

.card-principal {
  background: white;
  text-align: center;
  width:80%;
  border-radius: 10px;
  padding: 2rem;
  margin-left: 0;
}



.titulo-dados-anamnese {
  padding-bottom: 1rem;
}

.dados-gerais-anamense {
  padding-bottom: .5rem;
  padding-top: .8rem;
  border-bottom: #b5b5b5 1px solid
}

.anamnese {
  margin-top: 2em;
  width: 80%;
  background: white;
  margin-left: 0rem;
  padding: 2rem;
  font-family: sans-serif;
  border-radius: 10px;
}
  
.colunas-anamnese {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.titulo-dados {
  padding-bottom: 1rem;
  text-align: left;
}

.form-item {
  padding-bottom: .8rem;
  text-align: left;
}

input, textarea, select {
  border-radius: 5px;
  border: #c0bfbf 1px solid;
  padding-left: .5rem;
}

input {
  height: 23px;
  width: 95%;
}

textarea {
  padding-top: .5rem;
  width: 95%;
}

select {
  margin-top: .5rem;
  width: 98%;
  height: 23px;
}

.enviar {
  width: 100%;
  height: 30px;
  align-items: right;
  align-content: right;
}

.enviar:hover {
  background: #58a0fd;
}

}
