<!DOCTYPE html>
<html lang="pt-br">

<head></head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
  href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link rel="stylesheet" href="/css/homepage.css">
<title></title>
</head>

<body>

  </head>

  <body>


    <div class="background">
      <div class="mask">

        <header>
          <nav>
            <img class="logo" src="img/logo_2.png" />
            <div class="mobile-menu">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>
            <ul class="nav-list">
              <li><a href="/">Home</a></li>
              <li><a href="#">Sobre</a></li>

              <li><a href="/login"><span class="fa fa-sign-in"></span> Entrar</a></li>
            </ul>
          </nav>
        </header>

        <main class="conteudo">
          <section class="conteudo-principal">

            <div class="conteudo-escrito">

              <h1 class="titulo-principal">Dani Teixeira</h1>
              <h3 class="subtitulo-principal">PERSONAL TRAINER</h3>
              <h3 class="subtitulo-principal">Tenha a experiência de ter um atendimento personalizado e atenção
                exclusiva para seus treinos.</h3>



              <div class="botoes">

                <a href="/registro"><button class="btnn" style="color: white; text-decoration: none;"">Comece agora</button></a>
                  <a href=" /login"><button class="botao-secundario"
                      style="color: white; text-decoration: none;">Acessar conta</button></a>

              </div>

            </div>
            <p></p>
          </section>
      </div>
    </div>


      

    </main>

    <footer class="rodape">
      <div class="footer__container">
        <div class="rodape-content">
          <img src="img/logo_2.png" class="img-rodape">
          <div class="rodape-links">
            <a href="/registro"><p>Faça seu cadastro</p></a>
            <a href="/login"><p>Acesse</p></a>
            <a href="/sobre"><p>Saiba mais</p></a>
            <p>E-mail: daniteixeira@gmail.com</p>
          </div>
        </div> 
      </div>
      <div class="redes-sociais">
        <a href="/instagram"><span class="fa fa-instagram"></span></a>
        <a href="/facebook"><span class="fa fa-facebook"></span></a>
        <a href="/facebook"><span class="fa fa-whatsapp"></span></a>
        
      </div>
      
    </footer>


    </div>
    </div>

    <script href="js/home.js"></script>

  </body>

</html>